/* This is the css */

/* Wrapper Containter for the badges */
.image-wrapper{
	display: inline-block;
	width: 45%;

}

/*
img{
	display: block;
	width: 30%;

}
*/
/* hover */

#stroke:hover{

	fill: red;
}
